# Homework №2

## Imports

In [46]:
import dill
import numpy as np
import pandas as pd
from rectools.columns import Columns
from rectools.dataset import Dataset
from rectools.models import PopularModel
from rectools.models.lightfm import LightFMWrapperModel
from typing import Tuple, Dict

## Обработка данных

### Получаем фичи для юзера

In [47]:
def encode_cat_cols(df: pd.DataFrame, cat_cols) -> Tuple[pd.DataFrame, Dict]:
    cat_col_encoding = {}  # словарь с категориями

    # Тут мы могли бы заполнять пропуски как еще одну категорию,
    # но они и так заполняются таким образом автоматически ниже
    # default_values = {col: 'None' for col in cat_cols}
    # df.fillna(default_values, inplace=True)

    for col in cat_cols:
        cat_col = df[col].astype('category').cat
        cat_col_encoding[col] = cat_col.categories
        df[col] = cat_col.codes.astype('category')
    return df, cat_col_encoding

In [48]:
users = pd.read_csv("data/users.csv")
users

        user_id         age        income  sex  kids_flg
0        973171   age_25_34  income_60_90    М         1
1        962099   age_18_24  income_20_40    М         0
2       1047345   age_45_54  income_40_60    Ж         0
3        721985   age_45_54  income_20_40    Ж         0
4        704055   age_35_44  income_60_90    Ж         0
...         ...         ...           ...  ...       ...
840192   339025  age_65_inf   income_0_20    Ж         0
840193   983617   age_18_24  income_20_40    Ж         1
840194   251008         NaN           NaN  NaN         0
840195   590706         NaN           NaN    Ж         0
840196   166555  age_65_inf  income_20_40    Ж         0

[840197 rows x 5 columns]

In [49]:
users_features = users.copy(deep=True)
users_cat_cols = [
    'age', 'income', 'sex', 'kids_flg'
]
users_features, users_cat_col_encoding = encode_cat_cols(users_features, users_cat_cols)
users_features

        user_id age income sex kids_flg
0        973171   1      4   1        1
1        962099   0      2   1        0
2       1047345   3      3   0        0
3        721985   3      2   0        0
4        704055   2      4   0        0
...         ...  ..    ...  ..      ...
840192   339025   5      0   0        0
840193   983617   0      2   0        1
840194   251008  -1     -1  -1        0
840195   590706  -1     -1   0        0
840196   166555   5      2   0        0

[840197 rows x 5 columns]

### Получаем фичи для айтемов

In [50]:
items = pd.read_csv("data/items.csv")
items.head(3)

,item_id,content_type,title,title_orig,release_year,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords
0,10711,film,Поговори с ней,Hable con ella,2002.0,"драмы, зарубежные, детективы, мелодрамы",Испания,NaN,16.0,NaN,Педро Альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ..."
1,2508,film,Голые перцы,Search Party,2014.0,"зарубежные, приключения, комедии",США,NaN,16.0,NaN,Скот Армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео..."
2,10716,film,Тактическая сила,Tactical Force,2011.0,"криминал, зарубежные, триллеры, боевики, комедии",Канада,NaN,16.0,NaN,Адам П. Калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг..."

In [51]:
items[items["release_year"].isna()]

,item_id,content_type,title,title_orig,release_year,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords
89,10950,series,Начни дома,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Приведи себя в хорошую форму дома с минимальны...,"Начни, дома, Россия, спорт-фитнес, спорт-трене..."
294,3901,series,Красота лица,NaN,NaN,фитнес,Россия,NaN,0.0,NaN,NaN,NaN,"Motify научит вас простым, но очень эффективны...","Красота, лица, 2020, Россия, спорт-фитнес, спо..."
374,10656,series,Медитации для жизни,NaN,NaN,фитнес,NaN,NaN,6.0,NaN,NaN,NaN,"В этой программе собраны 3 базовых урока, на к...","Медитации, для, жизни, спорт-фитнес, спорт-тре..."
375,11526,series,Психология питания,NaN,NaN,"фитнес, спорт",NaN,NaN,6.0,NaN,NaN,NaN,В программе от Motify ты узнаешь о психологиче...,"Психология, питания"
572,11532,series,Йога старт,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Программа от Motify подойдет для любого уровня...,"Йога, 2020, Россия, спорт-фитнес, спорт-тренер..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15391,12643,series,Идеальная осанка и мышечный рельеф,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Программа от Motify представляет собой функцио...,"Идеальная, осанка, мышечный, рельеф, Россия, с..."
15609,15173,film,Порт - Сересо Осака,NaN,NaN,футбол,Россия,NaN,0.0,NaN,NaN,NaN,Лига чемпионов AFC - это главный клубный футбо...,"Порт, -, Сересо, Осака, Россия, спорт-фитнес, ..."
15826,8206,series,Рацион на 1478 ккал,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Готовый рацион на день от Motify. Состоит из п...,"Рацион, 1478, ккал, Россия, спорт-фитнес, спор..."
15827,13968,series,Рацион на 2534 ккал,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Готовые рецепты с подробной инструкцией. 4 при...,"Рацион, 2534, ккал, Россия, спорт-фитнес, спор..."
15948,1830,series,Секреты ежедневного фэйсфитнеса,NaN,NaN,фитнес,Россия,NaN,6.0,NaN,NaN,NaN,Ежедневный уход за лицом изменит вашу жизнь. П...,"Секреты, ежедневного, фэйсфитнеса, Россия, спо..."

In [52]:
items[items["age_rating"].isna()]

,item_id,content_type,title,title_orig,release_year,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords
8297,6316,series,Машины-помощники,NaN,2016.0,"русские, для детей, сериалы, хочу всё знать, р...",Россия,NaN,NaN,NaN,NaN,NaN,Маленькие мальчики всего мира любят играть в м...,"Машины-помощники, 2017, Россия, работа, преодо..."
12352,14409,series,БиБаБу,NaN,2017.0,"русские, сериалы, для детей, хочу всё знать, р...",Россия,NaN,NaN,NaN,NaN,NaN,В сказочное подводное царство приглашают мален...,"друзья, магия и волшебство, рыбы, моря и океан..."

In [53]:
print(len(items["countries"].unique()))
items["countries"].unique()

688

array(['Испания', 'США', 'Канада', 'Великобритания', 'СССР', 'Россия',
       'Иран', 'Германия', 'Италия', 'Аргентина', 'Франция', 'Украина',
       'Россия, Украина', 'США, Германия, Япония, Великобритания',
       'Швеция', 'Норвегия', 'Германия, Канада', 'Россия, Италия, Швеция',
       'Чехия', 'Китай, Япония, Тайвань, Республика Корея', 'Израиль',
       'Великобритания, Франция',
       'Дания, Швеция, США, Великобритания, Аргентина, Германия, Исландия, Испания',
       'Бельгия', 'США, Канада', 'Франция, Бельгия', 'Республика Корея',
       'Казахстан', 'Новая Зеландия', 'Австралия', 'Мексика',
       'Великобритания, США', 'Швеция, Испания, США',
       'США, Великобритания', 'Нидерланды, Великобритания',
       'США, Германия', 'Япония', 'Китай',
       'Великобритания, Швеция, Германия', 'США, Китай, Германия, Япония',
       'Великобритания, США, Китай', 'Кипр', 'Маврикий', 'США, Гонконг',
       'США, Китай, Япония', 'Ирландия', 'Германия, Норвегия',
       'Болгария, Великобритания', 'Россия, Беларусь', 'Италия, СССР',
       'Киргизия', 'США, Румыния', 'Франция, США', 'Россия, США', nan,
       'Болгария', 'США, Китай', 'США, Мальта',
       'США, Великобритания, Австралия', 'Великобритания, США, Канада',
       'США, Болгария', 'Нидерланды', 'Чили', 'Армения',
       'Германия, Франция', 'Канада, Франция',
       'США, Мексика, Австралия, Канада', 'США, Мексика', 'США, Индия',
       'Таиланд', 'Канада, США',
       'Великобритания, Франция, США, Китай, Венгрия', 'Франция, Сенегал',
       'Италия, Франция', 'Бразилия, Канада',
       'США, Великобритания, Япония, Германия',
       'Ирландия, Великобритания', 'США, Германия, Япония',
       'США, Великобритания, Канада, Китай', 'США, Япония', 'Гонконг',
       'Беларусь', 'Польша', 'Испания, США', 'Германия, Франция, Италия',
       'Австралия, США', 'Нидерланды, Чехия',
       'Германия, Бельгия, Люксембург, Ирландия, США',
       'Франция, Великобритания, Чехия', 'США, Ирландия',
       'Китай, Гонконг', 'Норвегия, Великобритания',
       'Россия, Украина, Беларусь', 'Дания',
       'Великобритания, Австралия, США', 'США, Испания', 'Турция', 'ЮАР',
       'Швейцария', 'Бельгия, Нидерланды',
       'США, Великобритания, Германия', 'США, Франция, Великобритания',
       'Швейцария, Великобритания, США',
       'Ирландия, Великобритания, Германия, Швеция',
       'Дания, Швеция, Нидерланды', 'Македония', 'Великобритания, Канада',
       'Индия', 'Финляндия', 'Франция, Республика Корея, Япония',
       'Узбекистан', 'Малайзия', 'США, ОАЭ, Чехия', 'США, Австралия',
       'Австралия, Россия', 'США, Франция', 'Испания, Мальта, Болгария',
       'Португалия, Германия, Дания, США, Франция', 'Испания, Болгария',
       'Бразилия', 'Дания, Швеция, Франция, Германия',
       'Франция, Германия, США', 'Великобритания, США, Франция',
       'Франция, Австралия', 'Канада, США, Индия, Великобритания',
       'Германия, США', 'Россия, Украина, Бельгия, Германия',
       'США, Канада, Новая Зеландия', 'Испания, Германия',
       'Великобритания, Франция, Германия, США',
       'США, Великобритания, Япония', 'Германия, Франция, ЮАР', 'Венгрия',
       'США, Швеция, ЮАР', 'Казахстан, Россия, Франция',
       'Франция, Канада', 'США, Швейцария, Великобритания',
       'США, Республика Корея', 'Бельгия, Франция',
       'Франция, Бельгия, Германия', 'Польша, Великобритания, Франция',
       'США, Франция, Япония', 'Россия, Испания', 'Филиппины',
       'Великобритания, Австралия', 'США, Бразилия',
       'Пуэрто-Рико, Великобритания, США', 'Испания, Канада',
       'Великобритания, Канада, Ирландия', 'Португалия',
       'Германия, Бельгия, Великобритания, Дания',
       'Чехия, Великобритания, Германия, США', 'Франция, Германия, ЮАР',
       'Канада, Ирландия, Великобритания, США', 'Италия, Германия',
       'Перу', 'Франция, Канада, США', 'Австралия, Бельгия', 'Латвия',
       'Австрия, Германия', 'Великобритания, Швеция, Дания, Ирландия',
       'Швеция, Норвегия, Германия', 'Алжир, США', 'Дания, Чехия',
       'Великобритания, Германия', 'Великобритания, Нидерланды',
       'Дания, Швеция, Франция, Нидерланды, Италия, Испания',
       'Австралия, Канада', 'Великобритания, Франция, Германия',
       'Франция, Великобритания, Венгрия',
       'Дания, Швеция, Франция, Нидерланды, Норвегия, Исландия, Испания',
       'США, ЮАР, Великобритания', 'Нидерланды, Бельгия, ЮАР',
       'Великобритания, Румыния', 'Великобритания, Дания', 'Колумбия',
       'Румыния', 'Гонконг, Китай', 'США, Финляндия',
       'Ирландия, Бельгия, Дания, Канада', 'Австралия, Франция',
       'США, Франция, Италия', 'Испания, Япония',
       'США, Гонконг, Исландия', 'Франция, Германия, США, Великобритания',
       'Австрия', 'Венесуэла', 'США, Великобритания, Италия',
       'США, Великобритания, Канада',
       'Аргентина, Уругвай, Россия, Германия, Франция, Нидерланды',
       'Мексика, США', 'Россия, Беларусь, Польша',
       'Германия, Франция, Великобритания, Канада, США, Япония',
       'Индонезия, США', 'США, Германия, Канада', 'Китай, США',
       'Ирландия, Бельгия', 'Германия, Великобритания, США',
       'Дания, Канада, Швеция, США, Франция',
       'США, Великобритания, Франция',
       'США, Франция, Бельгия, Нидерланды, Латвия', 'Хорватия',
       'США, Франция, Великобритания, Италия',
       'Австралия, Новая Зеландия', 'Ирландия, Испания',
       'Канада, США, Великобритания', 'Новая Зеландия, США',
       'США, Великобритания, Франция, Венгрия, Германия',
       'Индия, Великобритания, Китай, Канада, Япония, Республика Корея, США',
       'Швеция, Дания',
       'Великобритания, США, Индия, Канада, Франция, Бельгия',
       'Япония, Сингапур', 'Великобритания, Испания, Германия, США',
       'Аргентина, Испания, Бразилия, Германия',
       'США, Аргентина, Гонконг, Канада', 'Индонезия',
       'США, Италия, Румыния, Великобритания',
       'Великобритания, Франция, Китай, Камбоджа, США, Германия',
       'Дания, Норвегия, Венгрия, Чехия', 'Япония, США',
       'США, Канада, Гонконг', 'Германия, Великобритания, США, Канада',
       'США, Чехия', 'Италия, Испания', 'Франция, Италия', 'Парагвай',
       'Россия, Франция', 'Великобритания, Франция, США',
       'Великобритания, Китай, Япония, США',
       'Франция, Бельгия, Люксембург', 'США, Бельгия',
       'Великобритания, США, Австралия', 'Сербия, СССР',
       'США, Нидерланды, Аргентина, Франция', 'Швеция, США',
       'Великобритания, Швеция, Франция, Бельгия', 'Россия, Сербия',
       'США, Великобритания, Чехия, Канада', 'Россия, Германия, Франция',
       'Франция, Польша, Бельгия', 'Франция, Великобритания',
       'Испания, Аргентина', 'Россия, Германия', 'Люксембург, Франция',
       'Германия, Индия, США', 'Великобритания, Германия, США',
       'США, Канада, Франция', 'Франция, Япония',
       'Австралия, Китай, Германия, США', 'Великобритания, США, Индия',
       'Дания, Норвегия, Германия',
       'Великобритания, Нидерланды, Франция, Италия, Япония', 'Молдова',
       'Германия, Китай', 'Дания, США', 'Великобритания, Испания',
       'Швеция, Дания, США', 'Австралия, Германия',
       'Великобритания, Франция, США, Канада', 'Исландия, Дания, Швеция',
       'США, Великобритания, Франция, Германия, Япония', 'Эстония',
       'США, Армения', 'Франция, Польша',
       'Нидерланды, Люксембург, Великобритания', 'Россия, Люксембург',
       'США, Канада, Индия', 'США, Германия, Франция',
       'США, Франция, Бельгия, Чехия', 'Албания',
       'Бельгия, Великобритания, Германия',
       'Испания, Португалия, Франция', 'Канада, Республика Корея, США',
       'Великобритания, Италия', 'США, Чили, Израиль', 'Мексика, Франция',
       'Великобритания, Ирландия, Франция, США',
       'Великобритания, Новая Зеландия', 'Бельгия, Люксембург, Франция',
       'Аргентина, Испания', 'США, Гонконг, Канада, Китай',
       'США, Китай, Канада, Австралия', 'Швеция, СССР, Норвегия',
       'Австралия, Великобритания', 'США, Канада, Австралия',
       'Канада, Китай, США', 'Россия, Великобритания, Австрия',
       'США, Австралия, Мексика', 'Югославия',
       'США, Япония, Испания, Великобритания', 'США, Россия', 'США, ОАЭ',
       'Великобритания, США, Китай, Швеция, Япония',
       'Франция, Испания, Румыния, Бельгия, США', 'Гонконг, США',
       'Великобритания, Китай, США',
       'Нидерланды, Великобритания, Польша, Украина, США',
       'Дания, Германия, Франция, Бельгия', 'США, Новая Зеландия',
       'Великобритания, Германия, Испания, США',
       'Италия, Великобритания, Бельгия', 'Испания, Франция', 'Исландия',
       'США, Германия, Великобритания, Нидерланды, Италия',
       'Индия, Сингапур, США', 'США, Канада, Великобритания',
       'Ирландия, Швеция, США', 'Швейцария, Германия, Португалия',
       'Германия, Австрия, Италия',
       'Великобритания, Франция, Германия, Ирландия, США',
       'США, Великобритания, Япония, Венгрия',
       'Великобритания, Канада, США', 'Сингапур',
       'Франция, США, Бразилия', 'Китай, Канада, США', 'Россия, Турция',
       'Хорватия, Люксембург, Норвегия, Чехия, Словакия, Словения',
       'Германия, Австралия', 'Австралия, Колумбия', 'Россия, Казахстан',
       'Австрия, Россия', 'Эквадор, Испания, Перу',
       'Франция, Великобритания, США', 'Сербия',
       'Швеция, Германия, Норвегия, Дания, Исландия, Бельгия, Великобритания',
       'Великобритания, Ирландия, Канада, США, Индия', 'США, ЮАР',
       'Тайвань', 'Мальта', 'Бельгия, Люксембург', 'Франция, Китай',
       'США, Канада, Франция, Великобритания, Индия',
       'Армения, Грузия, США', 'Канада, Испания, Япония',
       'Канада, Республика Корея', 'Канада, Норвегия, США',
       'Испания, Болгария, США', 'Египет', 'Испания, США, Франция',
       'США, Норвегия', 'США, Франция, Канада, Испания', 'США, Камбоджа',
       'США, Великобритания, Мальта, Марокко', 'Аргентина, Мексика',
       'Франция, Люксембург, Бельгия', 'Великобритания, США, Германия',
       'Великобритания, Германия, США, Испания', 'США, Германия, Польша',
       'США, Великобритания, Ирландия', 'Индия, США', 'Канада, Бельгия',
       'Норвегия, США, Великобритания', 'Россия, Украина, Великобритания',
       'Италия, Бельгия', 'Германия, Япония, США, Великобритания',
       'США, Германия, Чехия', 'Великобритания, Ирландия',
       'Россия, Тунис',
       'Великобритания, Финляндия, Германия, США, Франция',
       'США, Германия, Китай, Канада', 'Польша, СССР', 'США, Нидерланды',
       'Ирландия, США', 'Бельгия, Великобритания, Ирландия, США',
       'США, Швеция, Венгрия', 'Великобритания, Мексика, США',
       'США, Канада, Австралия, Тайвань', 'США, Греция',
       'Германия, Канада, США',
       'США, Бельгия, Дания, Великобритания, Швеция, Китай',
       'Испания, Италия, Франция', 'Бельгия, Германия',
       'Германия, Франция, Испания, США', 'Германия, Россия',
       'Ирландия, Франция', 'Германия, Дания, Франция, Швеция',
       'Франция, США, Германия', 'США, Китай, Великобритания',
       'США, Филиппины, Пуэрто-Рико', 'США, Германия, Гонконг, Сингапур',
       'Великобритания, Люксембург', 'Швейцария, Франция',
       'Великобритания, Германия, Франция', 'Франция, США, Испания',
       'Швеция, Канада', 'Россия, Латвия, Великобритания, Австрия',
       'Новая Зеландия, США, Германия', 'Германия, США, Мексика',
       'Ирландия, Канада',
       'Швеция, Великобритания, Франция, Испания, Россия',
       'Чехия, Великобритания', 'Словения', 'Италия, США',
       'США, Канада, Китай', 'США, Новая Зеландия, Германия',
       'Россия, Канада, Грузия, Греция', 'Индия, Китай',
       'Дания, Норвегия, Чехия', 'Канада, Венгрия',
       'Дания, Латвия, Россия, США',
       'Ирландия, Франция, Исландия, США, Мексика, Бельгия, Великобритания, Гонконг',
       'Иран, Ливан', 'Франция, Испания', 'Франция, СССР',
       'Германия, Италия', 'Куба, Испания',
       'Великобритания, США, Испания',
       'Уругвай, Аргентина, Германия, Испания, Нидерланды',
       'Италия, Люксембург, Бельгия',
       'США, Индия, Великобритания, Франция, Канада, Германия',
       'Болгария, США', 'Испания, США, Италия',
       'США, Великобритания, Китай', 'Россия, Грузия',
       'США, Канада, Дания', 'Эстония, Дания',
       'США, Германия, Великобритания, Франция', 'Украина, СССР',
       'Азербайджан', 'Великобритания, Австралия, США, Новая Зеландия',
       'США, Индия, Канада',
       'Германия, Франция, Бельгия, ЮАР, Италия, Великобритания, Люксембург',
       'США, Германия, Великобритания', 'США, Австралия, Индия',
       'Франция, Германия', 'Великобритания, Чехия, Германия, США',
       'Финляндия, Латвия', 'Германия, Бельгия, Франция',
       'США, Испания, Франция, Великобритания',
       'США, Великобритания, Германия, Нидерланды, Франция, Италия, Марокко, Таиланд',
       'Великобритания, ЮАР', 'Аргентина, США',
       'Великобритания, Румыния, США', 'Франция, Польша, Великобритания',
       'Мексика, Тайвань, Великобритания, США, Япония, Италия',
       'Австралия, США, Канада, Великобритания',
       'Великобритания, Канада, Норвегия, США',
       'Великобритания, США, Германия, Дания, Бельгия, Япония',
       'Франция, Италия, Тунис', 'Бельгия, Великобритания',
       'Канада, Великобритания', 'Франция, Бельгия, США',
       'Китай, США, Канада', 'Россия, Франция, Германия, Бельгия',
       'Иордания', 'Бразилия, Германия',
       'Германия, Франция, США, Канада, Великобритания',
       'США, Канада, Италия', 'Болгария, Великобритания, США',
       'США, Мексика, Испания', 'Грузия, Украина', 'Турция, США',
       'Армения, Россия', 'Беларусь, Украина', 'США, Венгрия',
       'Япония, США, Франция', 'Великобритания, США, Япония',
       'Япония, Канада',
       'Дания, Швеция, Франция, Италия, Германия, Исландия',
       'Португалия, Великобритания', 'США, Канада, Венгрия',
       'США, Япония, Мексика, Канада',
       'Россия, Беларусь, Чехия, Франция, Польша, Израиль',
       'Колумбия, США', 'Швеция, Дания, Финляндия', 'Германия, Бельгия',
       'Италия, Франция, Великобритания, Швейцария',
       'Великобритания, Германия, Люксембург',
       'США, Тайвань, Великобритания, Канада', 'Россия, Армения',
       'США, Швейцария', 'США, Аргентина, Мексика', 'Норвегия, США',
       'Германия, Великобритания', 'Китай, Франция',
       'США, Германия, Канада, Великобритания',
       'Бельгия, Германия, Швеция', 'Германия, СССР', 'Бразилия, Франция',
       'США, Великобритания, Австралия, Канада',
       'Испания, Великобритания, Франция, США',
       'Германия, Канада, США, Франция, Великобритания',
       'США, Китай, Канада', 'ЮАР, Япония, США',
       'США, ЮАР, Замбия, Германия', 'Индия, Мексика',
       'Китай, США, Индия', 'Нидерланды, Перу',
       'Великобритания, США, Франция, Испания, Италия', 'Дания, Швеция',
       'Испания, Франция, Италия', 'Великобритания, Польша',
       'Италия, Испания, Великобритания', 'Япония, Россия',
       'США, Малайзия, Португалия', 'США, Ливан', 'Греция',
       'США, Япония, Великобритания', 'Канада, Финляндия', 'США, Польша',
       'Великобритания, США, Румыния', 'Германия, Норвегия, Швеция',
       'Япония, Китай', 'Япония, СССР', 'Великобритания, СССР',
       'США, Великобритания, Канада, Бельгия', 'ЮАР, США',
       'Франция, Бельгия, Китай', 'Уругвай, Аргентина, Испания',
       'Финляндия, Россия', 'Франция, Израиль, Германия',
       'Франция, Россия', 'США, Канада, Люксембург',
       'Великобритания, США, Швеция',
       'США, Великобритания, Германия, Чехия', 'США, Италия',
       'США, Франция, Чехия', 'США, Германия, Франция, Испания',
       'Дания, Швеция, Франция, Германия, Швейцария, Испания',
       'США, Германия, Венгрия', 'Германия, Испания', 'Казахстан, Турция',
       'США, Россия, Венгрия', 'Ирландия, Великобритания, Германия',
       'Германия, Люксембург', 'Тунис, Швейцария, Франция',
       'Великобритания, Ирландия, Канада, США',
       'Бельгия, Великобритания, Ирландия', 'Канада, Великобритания, США',
       'Ирландия, Великобритания, США', 'СССР, Франция',
       'Швеция, Бельгия', 'Камбоджа', 'Россия, Азербайджан',
       'Дания, Швеция, Чехия',
       'Великобритания, Франция, Канада, Бельгия, США',
       'Украина, Казахстан', 'Бельгия, Франция, Великобритания',
       'Великобритания, Венгрия, США', 'Россия, Китай',
       'Россия, Германия, Казахстан, Франция',
       'Чехия, Германия, Сингапур, США',
       'Бразилия, Уругвай, Дания, Норвегия', 'Эстония, Россия',
       'Германия, Австрия', 'Германия, Бельгия, США', 'Австрия, Венгрия',
       'США, Германия, Бельгия', 'Франция, Бельгия, Италия',
       'США, Исландия, Великобритания', 'Украина, Беларусь',
       'США, Великобритания, Индия, Испания, Канада',
       'Швеция, Германия, Франция, Дания, США', 'Великобритания, Сербия',
       'Франция, Чехия', 'США, Польша, Словения, Чехия',
       'Испания, Канада, Франция', 'Россия, Франция, Германия',
       'Канада, Китай', 'Франция, Чили',
       'Великобритания, США, Франция, Венгрия, Нидерланды',
       'Германия, Канада, Великобритания',
       'Дания, Франция, Швеция, Германия, Бельгия, Тунис',
       'Россия, Норвегия', 'Индия, Канада',
       'Германия, Великобритания, Италия, Испания',
       'Италия, Люксембург, Франция, Бельгия',
       'США, Канада, Филиппины, Великобритания, Республика Корея, Франция',
       'Канада, США, Великобритания, Австралия',
       'Ирландия, США, Великобритания, Швеция, Бельгия',
       'Германия, Испания, Тайвань', 'Испания, США, Чехия',
       'Россия, Великобритания', 'США, Канада, Китай, Япония',
       'Великобритания, Испания, США',
       'Великобритания, Чехия, США, Германия',
       'США, Нидерланды, Великобритания', 'США, Канада, Япония',
       'Россия, Латвия', 'Великобритания, Швеция, США',
       'Великобритания, Франция, Германия, Мексика, США', 'Вьетнам',
       'Германия, Франция, Бельгия', 'Германия, Швеция, США, Венгрия',
       'Франция, Норвегия',
       'Дания, Нидерланды, Швеция, Германия, Великобритания, Франция, Финляндия, Норвегия, Италия',
       'Чехия, Словакия, Хорватия', 'США, Таиланд',
       'Чили, Аргентина, Бразилия',
       'Нидерланды, Великобритания, Франция, Люксембург, Австрия',
       'Чили, США', 'Дания, Швейцария', 'Чехия, Великобритания, США',
       'Мексика, США, Канада', 'США, Китай, Гонконг, Австралия, Канада',
       'США, Канада, Япония, Франция', 'Великобритания, Пуэрто-Рико',
       'США, Япония, Колумбия', 'Испания, Великобритания, Нидерланды',
       'Норвегия, Франция',
       'Германия, США, Франция, Австралия, Великобритания',
       'Япония, Китай, Республика Корея', 'Люксембург',
       'США, Германия, Мексика', 'Республика Корея, Канада',
       'Франция, США, Мексика', 'Великобритания, Германия, Дания, США',
       'Аргентина, США, Чили, Перу, Бразилия, Великобритания, Германия, Франция',
       'Великобритания, Бельгия', 'США, Германия, Италия',
       'Чехия, Словакия', 'Гонконг, Канада, США', 'Россия, Нидерланды',
       'США, Австралия, Канада, Индия', 'Дания, Великобритания',
       'Канада, Мексика, Германия', 'Германия, Ирландия, США',
       'Великобритания, Норвегия',
       'Великобритания, Чехия, Франция, Италия, США',
       'Великобритания, Испания, Германия',
       'Дания, Швеция, Италия, Франция, Германия',
       'США, Германия, Великобритания, Венгрия',
       'Китай, Тайвань, Гонконг', 'Коста-Рика', 'Россия, Болгария',
       'Дания, Франция, США, Швеция, Бельгия', 'Мексика, Индия, США',
       'США, Китай, Бразилия', 'США, Германия, Великобритания, Испания',
       'Дания, Швеция, Нидерланды, Франция, Германия, Великобритания, Италия, США',
       'Грузия', 'Португалия, США',
       'Швеция, Дания, Германия, Финляндия, Франция, Великобритания, Италия',
       'Великобритания, США, Венгрия', 'США, Великобритания, Венгрия',
       'Дания, Норвегия, Чехия, Исландия, Швеция',
       'США, Великобритания, Испания', 'Великобритания, Россия',
       'Италия, Испания, Германия', 'Кения, Индия, США',
       'Франция, Испания, США', 'США, Франция, Китай, Великобритания',

In [54]:
print(len(items["directors"].unique()))
items["directors"].unique()

7974

array(['Педро Альмодовар', 'Скот Армстронг', 'Адам П. Калтраро', ...,
       'Эшреф Рейбрук, Амир Камдин, Эрик Эгер',
       'Марк О’Коннор, Конор МакМахон', 'Михаил Миронов'], dtype=object)

In [55]:
items_features = items.copy(deep=True)
default_values_items = {
    'release_year': items['release_year'].median(),
    'age_rating': items['age_rating'].median(),
}
dropped_columns = [
    "title", "title_orig", "genres", "countries", "directors", "actors", "description", "keywords" 
]
cat_columns = [
    "content_type", "for_kids", "studios"
]
items_features.fillna(default_values_items, inplace=True)
items_features.drop(dropped_columns, axis=1, inplace=True)
items_features, items_cat_col_encoding = encode_cat_cols(items_features, cat_columns)
items_features.head(3)

   item_id content_type  release_year for_kids  age_rating studios
0    10711            0        2002.0       -1        16.0      -1
1     2508            0        2014.0       -1        16.0      -1
2    10716            0        2011.0       -1        16.0      -1

### Получаем фичи интеракций

In [73]:
interactions = pd.read_csv("data/interactions.csv")
interactions["last_watch_dt"] = interactions["last_watch_dt"].astype(np.datetime64)
interactions

         user_id  item_id last_watch_dt  total_dur  watched_pct
0         176549     9506    2021-05-11       4250         72.0
1         699317     1659    2021-05-29       8317        100.0
2         656683     7107    2021-05-09         10          0.0
3         864613     7638    2021-07-05      14483        100.0
4         964868     9506    2021-04-30       6725        100.0
...          ...      ...           ...        ...          ...
5476246   648596    12225    2021-08-13         76          0.0
5476247   546862     9673    2021-04-13       2308         49.0
5476248   697262    15297    2021-08-20      18307         63.0
5476249   384202    16197    2021-04-19       6203        100.0
5476250   319709     4436    2021-08-15       3921         45.0

[5476251 rows x 5 columns]

In [80]:
interactions_features = interactions.copy(deep=True)
# Получаем длину истории юзера 
interactions_features['user_hist'] = (
    interactions_features.groupby('user_id')
    ['item_id'].transform('count')
)
# Получаем популярность контента
interactions_features['item_pop'] = (
    interactions_features.groupby('item_id')
    ['user_id'].transform('count')
)
# Получаем среднюю популярность контента, просматриваемого этим юзером
interactions_features['user_avg_pop'] = (
    interactions_features.groupby('user_id')
    ['item_pop'].transform('mean')
)
# Получаем среднюю длину истории пользователя, которые смотрит этот контент
interactions_features['item_avg_hist'] = (
    interactions_features.groupby('item_id')
    ['user_hist'].transform('mean')
)
# Получаем популярность последнего просмотренного контента
interactions_features.sort_values(
    by=[Columns.User, "last_watch_dt"], 
    ascending=[True, False], 
    ignore_index=True,
    inplace=True,
)
interactions_features['user_last_pop'] = (
    interactions_features.groupby('user_id')
    ['item_pop'].transform('first')
)
interactions_features

,user_id,item_id,last_watch_dt,total_dur,watched_pct,user_hist,item_pop,user_avg_pop,item_avg_hist,user_last_pop
0,0,6006,2021-07-20,1,0.0,6,8094,66528.666667,19.439461,8094
1,0,7102,2021-07-19,169,3.0,6,19211,66528.666667,22.676956,8094
2,0,14359,2021-07-19,130,2.0,6,7637,66528.666667,24.844180,8094
3,0,15297,2021-07-19,459,0.0,6,193123,66528.666667,8.728955,8094
4,0,9728,2021-07-19,4,0.0,6,132865,66528.666667,12.240997,8094
...,...,...,...,...,...,...,...,...,...,...
5476246,1097555,4662,2021-04-08,775,14.0,7,401,30366.571429,56.980050,132865
5476247,1097556,12812,2021-07-11,1417,23.0,1,1812,1812.000000,29.582230,1812
5476248,1097557,4151,2021-07-26,638,13.0,3,91167,98713.666667,12.420722,91167
5476249,1097557,3182,2021-07-26,505,8.0,3,11851,98713.666667,24.163952,91167
5476250,1097557,15297,2021-07-25,16514,75.0,3,193123,98713.666667,8.728955,91167

In [84]:
items_features_enhanced = pd.merge(
    left=items_features, 
    right=(
        interactions_features
        [['item_id', 'item_pop', 'item_avg_hist']]
        .drop_duplicates()
    ),
    how='left',
    on='item_id',
)
items_features_enhanced

,item_id,content_type,release_year,for_kids,age_rating,studios,item_pop,item_avg_hist
0,10711,0,2002.0,-1,16.0,-1,5.0,108.200000
1,2508,0,2014.0,-1,16.0,-1,9.0,76.444444
2,10716,0,2011.0,-1,16.0,-1,6.0,68.500000
3,7868,0,2015.0,-1,16.0,-1,2.0,100.000000
4,16268,0,1978.0,-1,12.0,33,1.0,36.000000
...,...,...,...,...,...,...,...,...
15958,6443,1,2018.0,-1,16.0,-1,7668.0,23.085811
15959,2367,1,2020.0,0,18.0,-1,396.0,29.573232
15960,10632,1,2017.0,0,18.0,-1,57.0,54.701754
15961,4538,1,2019.0,0,18.0,-1,99.0,29.111111
15962,3206,1,2019.0,0,16.0,-1,11.0,56.272727

In [85]:
users_features_enhanced = pd.merge(
    left=users, 
    right=(
        interactions_features
        [['user_id', 'user_hist', 'user_avg_pop', 'user_last_pop']]
        .drop_duplicates()
    ),
    how='left',
    on='user_id',
)
users_features_enhanced

,user_id,age,income,sex,kids_flg,user_hist,user_avg_pop,user_last_pop
0,973171,age_25_34,income_60_90,М,1,5.0,25637.800000,122119.0
1,962099,age_18_24,income_20_40,М,0,14.0,1801.785714,643.0
2,1047345,age_45_54,income_40_60,Ж,0,NaN,NaN,NaN
3,721985,age_45_54,income_20_40,Ж,0,18.0,7703.111111,4416.0
4,704055,age_35_44,income_60_90,Ж,0,10.0,590.900000,983.0
...,...,...,...,...,...,...,...,...
840192,339025,age_65_inf,income_0_20,Ж,0,1.0,1976.000000,1976.0
840193,983617,age_18_24,income_20_40,Ж,1,NaN,NaN,NaN
840194,251008,NaN,NaN,NaN,0,2.0,70.000000,105.0
840195,590706,NaN,NaN,Ж,0,1.0,359.000000,359.0
840196,166555,age_65_inf,income_20_40,Ж,0,NaN,NaN,NaN

In [83]:
default_values_items['item_pop'] = interactions_features['item_pop'].median()
default_values_items['item_avg_hist'] = interactions_features['item_avg_hist'].median()

# Для новых фичей юзеров
default_values_users = {
    'user_hist': 0,
    'user_avg_pop': interactions_features['user_avg_pop'].median(),
    'user_last_pop': interactions_features['user_last_pop'].median(),
}
default_values_users

{'user_hist': 0, 'user_avg_pop': 17007.285714285714, 'user_last_pop': 3820.0}

In [86]:
interactions_default_values = {
    "last_watch_dt": interactions["last_watch_dt"].median(),
    Columns.Weight: 1,
    "watched_pct": 0,
    'total_dur': 0,
}
interactions_default_values

{'last_watch_dt': Timestamp('2021-07-01 00:00:00'),
 'weight': 1,
 'watched_pct': 0,
 'total_dur': 0}

## Генерим кандидатов для ранкера

Используем две модели первого уровня для генерации:
- Обученную LightFM из прошлой дз
- Популярную модель

In [87]:
with open(f"dataset.dill", "rb") as file:
    dataset: Dataset = dill.load(file)
train_interactions = dataset.interactions.df
train_interactions

         user_id  item_id  weight last_watch_dt
0              0        0     3.0    2021-05-11
1              1        1     3.0    2021-05-29
3              2        2     3.0    2021-07-05
4              3        0     3.0    2021-04-30
5              4        3     3.0    2021-05-13
...          ...      ...     ...           ...
5476242   233267       46     3.0    2021-04-21
5476244    54448      166     3.0    2021-08-02
5476245   173679      100     1.0    2021-05-12
5476247   165659     2141     3.0    2021-04-13
5476249   115517     1328     3.0    2021-04-19

[3832711 rows x 4 columns]

In [88]:
with open(f"test_interactions.dill", "rb") as file:
    test_interactions: pd.DataFrame = dill.load(file)
test_interactions

         user_id  item_id last_watch_dt  total_dur  watched_pct  weight
9         203219    13582    2021-08-22       6975        100.0       3
54        200197     9335    2021-08-16         83          2.0       1
64         73446    14488    2021-08-19       6011        100.0       3
84         10010      512    2021-08-15         14          0.0       1
94        890735    14200    2021-08-16       1179         28.0       3
...          ...      ...           ...        ...          ...     ...
5476169   589589      983    2021-08-21       2403         43.0       3
5476188   590892     8618    2021-08-21       1335         23.0       3
5476191   857162    12360    2021-08-16         11          0.0       1
5476201   273558    10605    2021-08-21      34030        100.0       3
5476250   319709     4436    2021-08-15       3921         45.0       3

[333026 rows x 6 columns]

In [60]:
TEST_USERS = test_interactions[Columns.User].unique()
TEST_USERS

array([203219, 200197,  73446, ..., 623792, 442859, 857162], dtype=int64)

In [61]:
with open(f"LightFM_warp_8_0784.dill", "rb") as file:
    lightfm_model: LightFMWrapperModel = dill.load(file)
print(lightfm_model)

<rectools.models.lightfm.LightFMWrapperModel object at 0x000002386B8482B0>

In [89]:
n_candidates = 100 # Число кандидатов (от каждой модели?)

In [63]:
lightfm_recos = lightfm_model.recommend(users=TEST_USERS, dataset=dataset, k=n_candidates, filter_viewed=True)
lightfm_recos.head()

   user_id  item_id     score  rank
0   203219    15297  3.580714     1
1   203219    10440  3.536684     2
2   203219    13865  3.146872     3
3   203219     4151  3.101431     4
4   203219     2657  3.067135     5

In [64]:
popular_model = PopularModel()
popular_model.fit(dataset);

In [65]:
popular_recos = popular_model.recommend(users=TEST_USERS, dataset=dataset, k=n_candidates, filter_viewed=True)
popular_recos.head()

   user_id  item_id     score  rank
0   203219    10440  159230.0     1
1   203219    15297  158315.0     2
2   203219    13865   96838.0     3
3   203219     9728   92359.0     4
4   203219     4151   70650.0     5

Комбинируем рекомендации обоих моделей

In [66]:
combined_recos = pd.merge(
    lightfm_recos, popular_recos, on=["user_id", "item_id"], how="outer"
)
combined_recos.sort_values(["user_id",	"item_id"], inplace=True)
combined_recos

          user_id  item_id     score_x  rank_x  score_y  rank_y
5827259         1       14 -227.010579    60.0   5667.0    73.0
13091046        1       24         NaN     NaN   4861.0    92.0
5827252         1      101 -226.932782    53.0   6661.0    58.0
5827206         1      142 -225.937359     7.0  35213.0     8.0
5827261         1      657 -227.025621    62.0   6490.0    59.0
...           ...      ...         ...     ...      ...     ...
12102109  1097544    16270         NaN     NaN   5780.0    69.0
2592690   1097544    16291 -228.083697    91.0      NaN     NaN
2592657   1097544    16361 -227.835225    58.0   5336.0    80.0
2592689   1097544    16447 -228.083070    90.0      NaN     NaN
2592663   1097544    16509 -227.917835    64.0   5925.0    65.0

[14721919 rows x 6 columns]

In [67]:
# combined_recos_filled = combined_recos.copy(deep=True)
# for prefix in ["x", "y"]:
#     combined_recos_filled[f"score_{prefix}"] = combined_recos.groupby("user_id")[f"score_{prefix}"].apply(lambda x: x.fillna(x.min() - 0.01))
#     combined_recos_filled[f"rank_{prefix}"] = combined_recos.groupby("user_id")[f"rank_{prefix}"].apply(lambda x: x.fillna(x.max() + 1))
# combined_recos_filled

## Объединяем кандидатов с интеракциями, а также добавляем все фичи (юзеров, айтемов, интеракций)

Объединяем итоговых кандидатов с реальными интеракциями пользователей из теста

In [68]:
df = pd.merge(
    test_interactions,
    combined_recos, # combined_recos_filled, # lightfm_recos, 
    how='outer',  # right ? 
    on=['user_id', 'item_id']
)

# # Проставляем дефолтные значения интеракций
# min_score: float =  df['score'].min() - 0.01
# max_rank: int = df['rank'].max() + 1  # 101

for prefix in ["x", "y"]:
    df[f"score_{prefix}"] = df.groupby("user_id")[f"score_{prefix}"].apply(lambda x: x.fillna(x.min() - 0.01))
    df[f"rank_{prefix}"] = df.groupby("user_id")[f"rank_{prefix}"].apply(lambda x: x.fillna(x.max() + 1))

default_values = {
    # 'score': min_score, 'rank': max_rank,
    # Важно использовате те же дефолтные значения для интеракций, 
    # чтобы не сделать утечку
    **interactions_default_values,
}
df.fillna(default_values, inplace=True)
df

,user_id,item_id,last_watch_dt,total_dur,watched_pct,weight,score_x,rank_x,score_y,rank_y
0,203219,13582,2021-08-22,6975.0,100.0,3.0,1.721243,101.0,4503.99,101.0
1,200197,9335,2021-08-16,83.0,2.0,1.0,-226.284075,101.0,4503.99,101.0
2,73446,14488,2021-08-19,6011.0,100.0,3.0,-206.203359,101.0,4088.99,101.0
3,10010,512,2021-08-15,14.0,0.0,1.0,-205.246856,101.0,4432.99,101.0
4,890735,14200,2021-08-16,1179.0,28.0,3.0,-160.690570,101.0,4503.99,101.0
...,...,...,...,...,...,...,...,...,...,...
14942813,1097544,16270,2021-07-01,0.0,0.0,1.0,-228.128515,101.0,5780.00,69.0
14942814,1097544,16291,2021-07-01,0.0,0.0,1.0,-228.083697,91.0,4503.99,101.0
14942815,1097544,16361,2021-07-01,0.0,0.0,1.0,-227.835225,58.0,5336.00,80.0
14942816,1097544,16447,2021-07-01,0.0,0.0,1.0,-228.083070,90.0,4503.99,101.0
14942817,1097544,16509,2021-07-01,0.0,0.0,1.0,-227.917835,64.0,5925.00,65.0